body {
	background-color: rgb(164, 180, 240);
	color: rgb(0, 0, 0);
}

#cat-container {
	margin-top: 30px;
	padding: 5px;
	border: 4px solid white;
	width: 300px;
	border-radius: 30px;
}

#cat-container img {
	width: 90%;
}

#main {
	transform: rotate(-5deg);
	margin-top: 20px;
	margin-left: 50px;
}
